.filter__container {
  min-width: 252px;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-5);
  background-color: var(--primary-text-color);
  padding: 1.2rem 1.5rem 0 1.5rem;
  border-right: 1px solid var(--secondary-color);
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-color);
}

.filter-title {
  display: block;
  margin-bottom: 1.125rem;
  text-transform: uppercase;
  font-weight: var(--font-semibold);
}

.filter-category {
  padding: 1.25rem 0 1rem 0;
  border-bottom: 1px solid var(--secondary-color);
  display: block;
}

.check-input,
.slider-input,
.radio-input {
  cursor: pointer;
}

/* Check/Radio input */
.select-label {
  display: block;
  width: 95%;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-desc {
  margin-left: 0.5rem;
}

/* Range input */
.slider-input,
.rating-limit {
  width: 75%;
}

.rating-limit {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-semibold);
}

/* Clear all */
.clear-btn {
  text-transform: uppercase;
  font-weight: var(--font-semibold);
  color: var(--primary-color);
  cursor: pointer;
}

/* Filter Drawer */
.drawer-open {
  left: 0;
  transition: left 0.5s ease-out;
}

.drawer-close {
  left: -30.875rem;
  transition: left 0.5s ease-out;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .filter__container {
    position: sticky;
    top: 1rem;
  }
}