.item-count{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.btn--remove{
  position: absolute;
  top: 0.5rem;
  right: 0;
}
.btn--remove svg{
  fill: var(--bg-color-secondary-2);
  width: 2rem;
  height: 1.5rem;
}

  