.products__container{
  width: 100%;
  margin-left: 252px;
  margin-top: 0.625rem;
}
.grid-view{
  display: grid;
  gap: 1.5rem;
}

@media  screen and (min-width:768px) {
  .grid-view{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px){
  .grid-view{
    grid-template-columns: repeat(4, 1fr);
  }
}