@import url("https://byoti-css.netlify.app/components/typography.css");
@import url("https://byoti-css.netlify.app/components/lists.css");
@import url("https://byoti-css.netlify.app/components/button.css");
@import url("https://byoti-css.netlify.app/components/image.css");
@import url("https://byoti-css.netlify.app/components/badge.css");
@import url("https://byoti-css.netlify.app/components/cards.css");

:root{
  --primary-color: #2dd4bf;
  --secondary-color: #e9e9ed;
  --primary-text-color: #fff;
  --secondary-text-color: #282c3f;
  --bg-color-primary: #fcfcfc;
  --bg-color-secondary: rgb(105,110,121);
  --bg-color-secondary-2: #3f3947;

  --font-light: 400;
  --font-semibold: 600;
  --font-bold: bold;

  --z-index-1: 1;
	--z-index-2: 2;
	--z-index-3: 3;
	--z-index-4: 4;
	--z-index-5: 5;
	--z-index-6: 6;
  --z-index-7: 7;
  --z-index-8: 8;
	--z-index-9: 9;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-sans; 
  word-wrap: break-word;
}

html{
  scroll-behavior: smooth;
}

.App{
  overflow-x: hidden;
}

.page {
  min-height: calc(100vh - (20vh + 10rem));
}

.row{
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: var(--bg-color-primary);
}
