@import url("https://byoti-css.netlify.app/components/typography.css");
@import url("https://byoti-css.netlify.app/components/lists.css");
@import url("https://byoti-css.netlify.app/components/button.css");
@import url("https://byoti-css.netlify.app/components/image.css");
@import url("https://byoti-css.netlify.app/components/badge.css");
@import url("https://byoti-css.netlify.app/components/cards.css");
@import './pages/Product/components/ProductCard/ProductCard.css';

:root{
  --primary-color: #2dd4bf;
  --secondary-color: #e9e9ed;
  --primary-text-color: #fff;
  --secondary-text-color: #282c3f;

  --bg-color-primary: #fcfcfc;
  --bg-color-secondary: rgb(105,110,121);
  --bg-color-secondary-2: #3f3947;
  --bg-color-gradient:#4ac29a; /* fallback for old browsers */
  
  --font-light: 400;
  --font-semibold: 600;
  --font-bold: bold;

  --z-index-1: 1;
	--z-index-2: 2;
	--z-index-3: 3;
	--z-index-4: 4;
	--z-index-5: 5;
	--z-index-6: 6;
  --z-index-7: 7;
  --z-index-8: 8;
	--z-index-9: 9;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-sans; 
  word-wrap: break-word;
}

html{
  scroll-behavior: smooth;
}

.App{
  overflow-x: hidden;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-heading{
  margin: 0.5rem auto 1rem auto;
  border-bottom: 2px solid var(--primary-color);
}

.display-flex{
  display: flex;
  flex-wrap: wrap;
}
.display-flex-column{
  display: flex;
  flex-direction: column;
}
.flex-items{
  margin: 1rem 1rem 1rem 0;
}
.justify-between{
  justify-content: space-between;
}

.row{
  display: flex;
  /* align-items: center; */
  flex-grow: 1;
  margin-bottom: 1rem;
  width: 100%;
}

.grid-view{
  display: grid;
  gap: 1rem 2rem;
}

/* Extras */
a:active, a:focus, button:focus {
  box-shadow: none !important;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: var(--primary-color);
}
.background--gradient{
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Media queries */
@media  screen and (min-width:768px) {
  .grid-view{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px){
  .grid-view{
    grid-template-columns: repeat(4, 1fr);
  }
}