.card{
  height: max-content;
  min-width: 208px;
  width: 10rem;
  position: relative;
  background-color: var(--bg-color-primary);
  cursor: pointer;
}
.card:hover{
  box-shadow: #d6d6d6 0px 5px 15px;
  transition: 0.3s ease-in;
}
/* Product Image */
.img-container .badge--sale{
  position: absolute;
  top: 1rem;
  left: 0;
}
.img-container .badge--rating{
  position: absolute;
  bottom: 1rem;
  left: 0;
  margin: 0.25rem;
  padding: 0.2rem 0.75rem;
  background-color: var(--bg-color-primary);
  opacity: 0.8;
  color: var(--secondary-text-color);
  font-size: 0.85rem;
  font-weight: var(--font-semibold);
  display: flex;
  align-items: center;
}
.badge--rating .star{
  margin-left: 0.3rem;
  color: var(--primary-color);
}
/* Product info */
.card-info{
  padding:  0 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
}

.card-header{
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
}
.card-header .card-brand{
  text-transform: uppercase;
  font-weight: var(--font-semibold);
  margin: 0;
}
.card-header .wishlist-btn{
  padding: 0.2rem 0;
}

.card-desc{
  display: block;
  max-width: calc(208px - 3rem);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: var(--font-light);
  color: var(--secondary-text-color);
}
/* Product price */
.card-price{
  margin: 0.3rem 0;
  font-size: 0.85rem;
  font-weight: var(--font-semibold);
}
.card-price .disc-price{
  padding-right: 0.45rem;
}
.card-price .orig-price{
  color: #a6a6a6;
  text-decoration: line-through;
  padding-right: 0.45rem;
}
.card-price .disc-percent{
  align-self: flex-end;
  color: var(--primary-color);
}
/* CTA */
.cta-container{
  display: flex;
  justify-content: space-around;
}
.add-btn{
  margin: 0.3rem !important;
  width: 95%;
  font-weight: var(--font-semibold);
}

.wishlist-btn svg{
  fill: #a6a6a6;
  transition: 0.3s ease-out;
}
.wishlist-btn svg.liked{
  fill: var(--secondary-text-color);
  transition: 0.3s ease-in;
}

/* Media queries */
@media  screen and (min-width: 768px) {
 .card-brand{
  font-size: 1.25rem;
 } 
 .card-desc{
  font-size: 1rem;
 }
 .card-price{
  font-size: 1.1rem;
 }
 .disc-percent, .orig-price{
  font-size: 0.85rem;
 }
 .btn{
  font-size: 1.1rem !important;
 }
}